.input-object {
    width: fit-content;
}

.rel {
    position: relative;
    width: fit-content;
}


.object-label {
    display: flex;
}

.label {
    display: flex;
    width: 90px;
    justify-content: flex-end;
}
